
@model LocationDeVoitures.Models.Advertisement
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>details</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1><strong>@Model.Title</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5"><img /></div>
                <div class="col">
                    <p> <h5 class="price"> @Html.DisplayNameFor(x => x.Price) : <span class="text-color">@Model.Price</span></h5></p>
                    <p> <h5 class="price">@Html.DisplayNameFor(x => x.Year)  : <span class="text-color">@Model.Year</span></h5></p>
                    <p><h5 class="price">@Html.DisplayNameFor(x => x.Mileage) : <span class="text-color">@Model.Mileage</span></h5></p>
                    <p><h5 class="price">@Html.DisplayNameFor(x => x.Transmission) : <span class="text-color">@Model.Transmission</span></h5></p>
                    <p><h5 class="price">@Html.DisplayNameFor(x => x.NumberDoors)  : <span class="text-color">@Model.NumberDoors</span></h5></p>
                    <p>Paragraph</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><h5 class="price">@Html.DisplayNameFor(x => x.Description)  : <span class="text-color">@Model.NumberDoors</span></h5></p>
                </div>
            </div>
        </div>
    </div>


</body>

</html>

