
@using LocationDeVoitures.Models.Api
@model LocationDeVoitures.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1><strong>@Model.Advertisement.Title</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5"><img src="@Model.Advertisement.ImageUri" class="img-thumbnail" /></div>
            <div class="col">
                <p> <h5 class="price"><strong> @Html.DisplayNameFor(x => x.Advertisement.Price) : </strong><span class="text-color">@Model.Advertisement.Price</span></h5></p>
                <p> <h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Year)  : </strong><span class="text-color">@Model.Advertisement.Year</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Mileage) : </strong><span class="text-color">@Model.Advertisement.Mileage</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Transmission) : </strong><span class="text-color">@Model.Advertisement.Transmission</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.NumberDoors)  : </strong><span class="text-color">@Model.Advertisement.NumberDoors</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Owner.Username)  : </strong><span class="text-color">@Model.Advertisement.Owner.Username</span></h5></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Description) </strong> : <br /><br /><span class="text-color">@Model.Advertisement.Description</span></h5></p>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

@if (Model.User?.Id != Model.Advertisement.OwnerId)
{
    @await Html.PartialAsync("_AddReservationCard", Model.Reservation)
}
