@model IEnumerable<Api.Models.Annonce>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#contains">Contains</a></li>
                        <li><a href="#its_equal">It's equal</a></li>
                        <li><a href="#greather_than">Greather than ></a></li>
                        <li><a href="#less_than">Less than < </a></li>
                        <li class="divider"></li>
                        <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>
<br />
@foreach (var item in Model)
{
    @await Html.PartialAsync("DisplayCarInfo", item)

}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @*<li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>

            @if (Model.CurrentPage >= 1 && Model.CurrentPage <= 6)
            {
                for (int i = 1; i < 6; i++)
                {
                    <li class="page-item"><a class="page-link" href="/Home?page=@i">@i</a></li>
                }
                <li class="page-item"><a class="page-link" href="#">....</a></li>
                <li class="page-item"><a class="page-link" href="#">@Model.MaxPage</a></li>
            }
            else if (@Model.CurrentPage > 6 && @Model.CurrentPage != @Model.MaxPage)
            {
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">....</a></li>
                for (int i = Model.CurrentPage - 2; i < Model.CurrentPage + 2; i++)
                {
                    <li class="page-item"><a class="page-link" href="/Home?page=@i">@i</a></li>
                }
                <li class="page-item"><a class="page-link" href="#">....</a></li>
                <li class="page-item"><a class="page-link" href="#">@Model.MaxPage</a></li>
            }

            else
            {
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">....</a></li>
                for (int i = Model.CurrentPage-5; i <=Model.CurrentPage ; i++)
                {
                    <li class="page-item"><a class="page-link" href="/Home?page=@i">@i</a></li>
                }


            }
        *@



        @* @for (int i = 1; i < Model.CurrentPage; i++)
            {
                <li class="page-item"><a class="page-link" href="/Home?page=@i">@i</a></li>
            }

            @for (int i = Model.CurrentPage; i <= Model.MaxPage; i++)
            {
                <li class="page-item"><a class="page-link" href="/Home?page=@i">@i</a></li>
            }
        *@
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>