
@using CarRentalP2P.Models.Api
@model CarRentalP2P.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1><strong>@Model.Advertisement.Title</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5"><img src="@Model.Advertisement.ImageUri" class="img-thumbnail" /></div>
            <div class="col">
                <p> <h5 class="price"><strong> @Html.DisplayNameFor(x => x.Advertisement.Price) : </strong><span class="text-color">@Model.Advertisement.Price</span></h5></p>
                <p> <h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Year)  : </strong><span class="text-color">@Model.Advertisement.Year</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Mileage) : </strong><span class="text-color">@Model.Advertisement.Mileage</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Transmission) : </strong><span class="text-color">@Model.Advertisement.Transmission</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.NumberDoors)  : </strong><span class="text-color">@Model.Advertisement.NumberDoors</span></h5></p>
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Owner.Username)  : </strong><span class="text-color">@Model.Advertisement.Owner.Username</span></h5></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Description) </strong> : <br /><br /><span class="text-color">@Model.Advertisement.Description</span></h5></p>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

@if (Model.User?.Id != Model.Advertisement.OwnerId)
{
    @await Html.PartialAsync("_AddReservationCard", Model.Reservation)
}

@if (Model.User?.Id == Model.Advertisement.OwnerId)
{
    <div class="card">
        <div class="card-header">
            Reservations
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Advertisement</th>
                        <th>Pick up date</th>
                        <th>Drop off date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var reservation in Model.Advertisement.Reservations)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", "Reservations")?id=@reservation.Id">@reservation.Id</a></td>
                            <td><a href="@Url.Action("Details", "Advertisements")?id=@reservation.AdvertisementId">@reservation.AdvertisementId</a></td>
                            <td>@reservation.PickupDate</td>
                            <td>@reservation.DropOffDate</td>
                            <td>@reservation.State</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
