
@using LocationDeVoitures.Models.Api
@model LocationDeVoitures.ViewModels.ReservationDetailsViewModel
@{
    ViewData["Title"] = "Index";
}


<h1>DETAILS </h1>

<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-center">RESERVATION REQUEST</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Contact-Form-Clean.css" />
    <link rel="stylesheet" href="styles.css" />
    <link href="~/css/loginForm.css" rel="stylesheet" />
</head>

<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1 class="text-center"><strong>@Model.Advertisement.Title</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5"><img src="@Model.Advertisement.ImageUri" class="img-thumbnail" /></div>
                <div class="col">
                    <p> <h5 class="price"><strong> @Html.DisplayNameFor(x => x.Advertisement.Price) : </strong><span class="text-color">@Model.Advertisement.Price</span></h5></p>
                    <p> <h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Year)  : </strong><span class="text-color">@Model.Advertisement.Year</span></h5></p>
                    <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Mileage) : </strong><span class="text-color">@Model.Advertisement.Mileage</span></h5></p>
                    <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Transmission) : </strong><span class="text-color">@Model.Advertisement.Transmission</span></h5></p>
                    <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.NumberDoors)  : </strong><span class="text-color">@Model.Advertisement.NumberDoors</span></h5></p>
                    <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Owner.Username)  : </strong><span class="text-color">@Model.Advertisement.Owner.Username</span></h5></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><h5 class="price"><strong>@Html.DisplayNameFor(x => x.Advertisement.Description) </strong> : <br /><br /><span class="text-color">@Model.Advertisement.Description</span></h5></p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />


    <div class="card">
        <div class="card-body">
            <h2 class="text-center"><strong>REQUEST DETAILS</strong></h2><br />
            <div class="form-group"><label><strong>Pick up date : </strong></label><span class="text-color">@Model.Reservation.PickupDate</span></div>
            <div class="form-group"><label><strong>Drop off date :</strong></label><span class="text-color">@Model.Reservation.DropOffDate</span></div>


            @if (Model.Reservation.State == ReservationState.Open)
            {
                <div class="form-group">
                    @if (Model.User.Id == Model.Reservation.Advertisement.OwnerId)
                    {
                        <form action="@Url.Action("UpdateStatus", "Reservations")" method="post">
                            <input type="hidden" name="reservationId" value="@Model.Reservation.Id" />
                            <input type="hidden" name="status" value="1" />
                            <input type="submit" class="btn btn-outline-success" value="Accept" />
                        </form>

                        <form action="@Url.Action("UpdateStatus", "Reservations")" method="post">
                            <input type="hidden" name="reservationId" value="@Model.Reservation.Id" />
                            <input type="hidden" name="status" value="2" />
                            <input type="submit" class="btn btn-outline-danger" value="Decline" />
                        </form>
                    }
                    else
                    {
                        <form action="@Url.Action("UpdateStatus", "Reservations")" method="post">
                            <input type="hidden" name="reservationId" value="@Model.Reservation.Id" />
                            <input type="hidden" name="status" value="3" />
                            <input type="submit" class="btn btn-outline-danger" value="Cancel" />
                        </form>
                    }
                </div>
            }
        </div>
    </div>


</body>

</html>
